
/*This is my css file*/
 html{
   background-color: brown;
   font-style: normal;
   font-size: 32px;
 }

 body{
   background-color: #F2F2F2;
   margin: 0 auto;
 }

 header {
   background-color: #466995;
   border-bottom: 1px solid #466995;
 }


/*styles of tags*/
h1 {
  color: #466995;
  font-family: 'Oswald', sans-serif;
  font-size: 30px; NOTTTTTTTTTTTTTTT
  font-weight: 300;
  text-transform: uppercase;
  }

  h2 {
  color: #333;
  font-family: 'Varela Round', sans-serif;
  font-size: 30px; NOTTTTTTTTTTTTTTT
  font-weight: 100;
  margin: 0 auto 20px auto;
}

h3 {
  color: #466995;
  font-family: 'Oswald', sans-serif;
  font-size: 20px; NOTTTTTTTTTTTTTTT
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  padding: 30px;
}

h4 {
  color: #466995;
  font-family: 'Oswald', sans-serif;
  font-size: 20px; NOTTTTTTTTTTTTTTT
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase
}


.welcome {
  background-color: #DBE9EE;
  box-sizing: border-box;
  padding: 40px;
  text-align: center;
  width: 100%;
}

/*Styles of classes*/
.xbox{
  font-size: 30px;
  background-color: turquoise
}
p {
  color: #333;
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
}

.telephone{
  float: right;
  width: auto;
  font-family: fantasy;
  font-size: 30px;
}
/*Styles of id's*/

ul {
  margin: 30px auto;
  padding: 0 20px;
  text-align: center;
  color: blue; NOTTTTTTTTTTTTTTT
}
li {
  color: blue; NOTTTTTTTTTTTTTTT
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}

li: float{ NOTTTTTTTTTTTTTTT
   float: right;
    color: blue;
}

footer {
  background-color: #DBE9EE;
  text-align: center;
}
